@model EventAppLibrary.Models.Event

@{
    ViewData["Title"] = "Osavõtjad";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ürituse või isiku nimi</th>
            <th>Isikukood/registrikood</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.RegisteredPersons)
        {
            <tr>
                <td>@person.FirstName @person.LastName</td>
                <td>@person.PersonalCode</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("PersonDetails", "Participants", new { id = person.Id })">VAATA</a>
                </td>
                <td>
                    <form asp-action="DeleteParticipant" method="post">
                        <input type="hidden" name="eventId" value="@Model.Id" />
                        <input type="hidden" name="participantId" value="@person.Id" />
                        <input type="hidden" name="isCompany" value="false" />
                        <button type="submit" class="btn btn-danger">KUSTUTA</button>
                    </form>
                </td>
            </tr>
        }
        @foreach (var company in Model.RegisteredCompanies)
        {
            <tr>
                <td>@company.Name</td>
                <td>@company.CompanyRegistrationCode</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("CompanyDetails", "Participants", new { id = company.Id })">VAATA</a>
                </td>
                <td>
                    <form asp-action="DeleteParticipant" method="post">
                        <input type="hidden" name="eventId" value="@Model.Id" />
                        <input type="hidden" name="participantId" value="@company.Id" />
                        <input type="hidden" name="isCompany" value="true" />
                        <button type="submit" class="btn btn-danger">KUSTUTA</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-secondary" href="@Url.Action("Index", "Home")">Tagasi</a>
