@model IEnumerable<EventAppLibrary.Models.Event>

<h1>Events</h1>

@foreach (var item in Model)
{
    <div>
        <a href="@Url.Action("Index", "Participants", new { eventId = item.Id })">@item.Name</a>

        <p>@item.DateAndTime.ToString("g")</p>
        <p>@item.EventPlace</p>
        <p>Participants: @item.RegisteredPersons.Count + @item.RegisteredCompanies.Count</p>
        @if (item.DateAndTime > DateTime.Now)
        {
            <form asp-action="DeleteEvent" method="post">
                <input type="hidden" name="eventId" value="@item.Id" />
                <button type="submit">Delete Event</button>
            </form>
            <a href="@Url.Action("AddParticipant", "Participants", new { eventId = item.Id })" class="btn btn-primary">Add Participant</a>
        }
    </div>
}
<a href="@Url.Action("Index", "Event")">Add an Event</a>
